.loading-page {
  max-width: 50%;
  margin: auto;
  text-align: center;
}

.main {
  margin-top: 65px;
}

.heading {
  margin-bottom: 45px;
}

.sign-out-btn {
  position: fixed;
  top: 10px;
  right: 20px;
}

.error {
  color: red;
  margin: 8px;
}

.a-button {
  background: none;
  border: none;
  color: #0000EE;
}

.show-notification {
  display: block;
}

.hide-notification {
  display: none;
}

.modal {
  overflow: scroll!important;
}

.card-margin {
  margin-bottom: 10px;
}

.chart {
  margin-bottom: 20px;
  margin-top: 20px;
}

.login {
  max-width: 45%!important;
  margin: auto!important;
}

.modal-xl {
  min-width: 90%!important;
}

.modal-body {
  overflow: scroll!important
}

